<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://static.vecteezy.com/system/resources/previews/001/613/326/non_2x/different-type-of-cartoon-sitting-dogs-vector.jpg" class="d-block w-100" alt="Wild Landscape"/>
      </div>
      <div class="carousel-item">
        <img src="https://http2.mlstatic.com/D_NQ_NP_694609-MLA51696683857_092022-O.webp" class="d-block w-100" alt="Camera"/>
      </div>
      <div class="carousel-item">
        <img src="https://www.shutterstock.com/image-vector/different-type-vector-cartoon-dogs-260nw-2112174446.jpg" class="d-block w-100" alt="Exotic Fruits"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>