<div class="card text-center shadow-lg border-danger" style="font-family: 'Noto Sans JP', sans-serif; background-image: url('https://wallpaperaccess.com/full/467528.jpg'); background-size: cover; color: rgb(18, 20, 3);">
  <div class="p-3 mb-2 bg-info bg-gradient text-dark"><h5><b>🐕Destacadas razas de perro🐕</b></h5></div>
  <div class="card-body" style="backdrop-filter: blur(5px); background: rgba(25, 223, 190, 0.7); padding: 20px;">
      <h5 class="text-warning"><b>Nombre científico: Canis lupus familiaris</b></h5>
      <p class="card-text">
        El perro, llamado perro doméstico o can, y en algunos lugares coloquialmente llamado chucho, tuso, choco, entre otros; es un mamífero carnívoro de la familia de los cánidos, que constituye una especie del género Canis.
      </p>
  </div>
</div>
