<div class="center">
  <div class="card mb-3 shadow-lg border-danger center" style="max-width: 1000px; font-family: 'Noto Sans JP', sans-serif; background-image: url('https://wallpaperaccess.com/full/467528.jpg'); background-size: cover; color: white;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://i.pinimg.com/originals/6e/22/6d/6e226d0e5851e062e027fe2e31f3a3a8.jpg"
          alt="Waifus Anime"
          class="img-fluid rounded-start"
          style="height: 100%; object-fit: cover;"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body" style="backdrop-filter: blur(5px); background: rgba(111, 42, 221, 0.795); padding: 30px;">
          <h3 class="card-title text-danger fw-bold">Cuidados recomendados</h3>
          <p class="card-text">
            <b class="card-title">Cómo cuidar a un perro</b><br>
            Cuidar a un perro implica compromiso y atención. En general, es importante procurar una alimentación saludable para ellos, así como favorecer su actividad física y estimular su socialización. También es fundamental ofrecerle cuidados y revisiones veterinarias para controlar su estado de salud y mejorar su calidad de vida.
          </p>
          <p class="card-text">
            Si se trata de un cachorro recién nacido, los cuidados del perro serán continuos, incluyendo el amamantamiento con leche materna o sustitutivo, y el destete, que se inicia a partir de las cuatro semanas de vida y de forma progresiva.
          </p>
          <p class="card-text">
            <b class="card-title">Recomendaciones básicas para el cuidado del perro: </b>
            <br>
            <br>
            <b>Alimentación de calidad:</b>
            Elegir un pienso nutritivo y darles una buena hidratación es clave para el bienestar de los perros. Hay que ofrecerles alimentos de calidad en función de su etapa de vida, según si es cachorro, adulto o senior.
          </p>
          <p class="card-text"><b>Educación animal:</b>
            Enseñar a un perro es esencial para que se desarrolle satisfactoriamente. Hay que indicarle dónde hacer sus necesidades, en qué espacios, qué puede hacer y que no, y guiarlo desde el principio para inculcarle un buen aprendizaje. Eso sí, siempre desde el refuerzo positivo, evitando reñirle bruscamente o gritarle, ya que así solo conseguiremos asustarle.
          </p>
          <p class="card-text"></p><b>Atención y cuidados veterinarios: </b>
          No siempre los cuidados del perro están a nuestro alcance y acudir al veterinario es necesario en muchos casos para revisar su estado de salud e intervenir con el tratamiento oportuno. Además, si tienes un perro deberás visitar al veterinario para ponerle las correspondientes vacunas, el chip y determinar un plan de desparasitación adecuado al animal.
        </div>
      </div>
    </div>
  </div>
</div>
